In [2]:
import pandas as pd
import numpy as np

In [7]:
brent=pd.read_csv(r'C:\Users\pc\brent-oil-change-point-analysis\data\BrentOilPrices.csv')

In [13]:
brent['Date']=pd.to_datetime(brent['Date'], format='%d-%b-%y')

In [14]:
brent.head()

        Date  Price
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63

In [15]:
brent.sort_values('Date', inplace=True)

In [16]:
brent.reset_index(drop=True, inplace=True)

In [17]:
brent.head()

        Date  Price
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63

In [18]:
brent.isnull().sum()

Date     0
Price    0
dtype: int64

In [19]:
brent.dtypes

Date     datetime64[ns]
Price           float64
dtype: object

In [26]:
brent.to_csv(r'C:\Users\pc\brent-oil-change-point-analysis\data\brent.csv', index=False)